body {
    background-color: #93C8E5;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    color: #EEAF10;
}

h1 {
    color: #E7AF53;
    font-weight: lighter;
    font-size: 40px
}

h2 {
    color: #F1E299;
    font-weight: lighter;
    font-size: 30px
}

h3 {
    color: #F1E299;
    font-weight: lighter;
}

h4 {
    color: #F1E299;
    font-weight: lighter;
}

h5 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    text-align: right
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #A1A1F5;
  color: white;
}

header {

    background-color: #000E3A;
    width: 1000px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main {
    background-color: #1163A7;
    width: 1000px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#introimages img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.centredimage {
  text-align: center;
}

#profileimages img {
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
